<h1 class="mb-4">Painéis Disponíveis</h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/dashboard">Agendamentos</a>
  </li>
  <li class="list-group-item">
    <a href="/config">Configurações</a>
  </li>
</ul>
